*{
    margin: 0%;
    padding: 0%;
    font-family: Sofia Sans;
    box-sizing: border-box;
}
body {
    background-image:url(https://media.istockphoto.com/id/163256736/es/foto/prado-rayas.jpg?s=612x612&w=0&k=20&c=b1BoWXO0K_IxAe-IfDOdxJTmcynvfPtwTUP3kTW3iag=);
    background-size: contain; 
    position: relative;
    padding-bottom: 60px;
}
main{
    margin-top: 15px;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bolder;
}