.intro{
    text-align: center;
}
.canchas-futbol{
    background-color: rgb(115, 212, 115);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height:295px;
  
}
.canchas-futbol img{
    width:100%;
    border-radius: 10px;
}
a:link{
    text-decoration: none;
}
#tarjetasCanchas{
    padding: 50px;
}
#tarjetaTorneos{
    background-color: #000;
    opacity: 90%;
    color:  white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    
}
.jugador23{
    border-radius: 10px;
   
}

ul{
    list-style-type: none;
}

