    /* Estilos para el banner */
    .banner {
        background-image: url(https://images.unsplash.com/photo-1514514757092-71ebbc3db4e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=895&q=80);
        background-size: cover;
        background-position: center;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 3rem;
      }

      /* Estilos para las tarjetas */
      .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
      }

      .card {
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        margin: 1rem;
        max-width: 400px;
        overflow: hidden;
        height: 400px; 
        display: flex;
        flex-direction: column;
      }

      .card img {
        width: 100%;
        height: auto;
      }

      .card-content {
        padding: 1rem;
        flex-grow: 1;
      }
      

      .card-title {
        font-size: 2rem;
        margin: 0;
      }

      .card-text {
        font-size: 1.2rem;
        margin: 0;
      }

      .card-button {
        background-color: #007bff;
        border: none;
        border-radius: 0.5rem;
        color: white;
        font-size: 1.2rem;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease;
        margin-top: auto;
      }

      .card-button:hover {
        background-color: #0062cc;
        cursor: pointer;
      }

      table {
        border-collapse: collapse; 
        background-color: rgb(183, 196, 183);
        width: 100%; 
        margin: 20px 0; 
        border-radius: 8px;
      }
      
      td {
        border: 2.5px solid black;
        padding: 10px; 
        text-align: center; 
      }

    .titulo-tabla {
        text-align: center;
    }
    
      
      